header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}
body {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
}

nav ul {
	font-size: 1.2em;
	list-style-type: none;
}

nav a:link {
	color: #042263;	
	text-decoration: none;
	font-weight: bold;
}

nav a:visited {
	color: #344873;
}
nav a:hover {
	color: #FFFFFF;
}
h1 {
	margin-bottom: 0;
	padding: 10px;
}
h2 {
	color: #3399CC;
}
h1,
h2 {
	font-family: Georgia, "Times New Roman", serif;
}
#contact {
	font-size: 90%;
}
dt {
	color: #000033;
}
footer {
	font-family: Georgia, "Times New Roman", serif;
	
}
/* new tags that I selected which were not part of the starter code */
header {
	background-image: url("sunset.jpg");
	background-size: 100% 100%;	
	color: #FFFFFF;
}

body {
	background-image: url("ptrbackground.jpg");
	background-repeat: repeat-x;
	background-color: #00569f;
}

nav {
	background-color: #87c4e2;
	width: 30%;
	height: 100%;
	float: left;
	box-sizing: border-box;
}

footer {
	clear: both;
	padding: 20px;
}

img {
	float: left;
	margin-right: 40px;
	margin-bottom: 40px;
}

/* specifying IDs of elements */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing  box-sizing attribute */
#content {
	width: 70%;
	padding: 20px;
	float: left;
	box-sizing: border-box;
}

#wrapper {
	width: 80%;
	height: fit-content;
	min-width: 600px;
	background-color: white;
	margin-left: 10%;
	margin-right: 10%;
}
